/*header*/
 body{
	background-color:#f1f3ee;     
 }
 .header{
    background-color: #f23d9c;
    height: 112px;
	/*height: 81px;*/
 }
 .header-top{
	height: 81px;
	width: 1196px;                          chek
	margin: 0 auto;
	/*text-align: center;*/
 }

 .header-bottom{
	height: 31px;
	background-color: #e3e4e6;
	color:#9b9d9a;
 }
 .headerk{
	width: 1196px;
	height: 31px;
	/*border: 1px solid red;*/
	margin: 0 auto;

 }
 .header-bottom-zik{
	width: 1000px;
	height: 31px;
	/*border: 1px solid red;*/
	float: right;
	/*margin: 0 auto;*/
	/*margin-left: 557px;*/

 }
 .header-bottom-zi-lf{
	line-height: 30px;
	color:#9b9b9b;
	width: 58px;
	height: 31px;
	/*border: 1px solid black;*/
	position: relative;
	display: block;
 }
 .header-bottom-zi-lf-k1{         tanchu
		height: 214px;
		width: 284px;
		/*padding-left: 5px;*/
		border:1px solid red;
		position: absolute;
		left: 0;
		top: 0;
  }

	.tanchu:hover{
		background: #ffffff;
		border-left: 1px solid #cccccc;
		border-right: 1px solid #cccccc;
		border-top: 1px solid #cccccc;
	}
	.tanchu{
		position: relative;

	}
	.header-bottom-zi-lf{
	z-index: 100;
	}
    .header-bottom-zi-lf-k1{
		height: 150px;
		width: 320px;
		position: absolute;
		left: 0px;
		top: 30px;
	}              
	 .header-bottom-zi-lf-k1{        
		z-index: 10;
	}
	.header-bottom-zi-lf-k1{
		display: none;
		transition: 0.5s;
		border-left: 1px solid #cccccc;
		border-right: 1px solid #cccccc;
		border-bottom: 1px solid #cccccc;
		border-top: 1px solid #cccccc;
		background: #ffffff;
	}
	.difang{
	float: left;
	margin-left:30px; 
	line-height: 40px;
   }
	.tanchu:hover>.tanchu_dis{                     
		display: block;
	}

 .header-bottom-zi-rf>li{
	float: left;
	line-height: 30px;
	margin-left:15px; 
	
 }
 .header-bottom-zi-rf>li>a{
	color:#9b9b9b;
 }
 .header-bottom-zi-rf>li>a>span{
	color: #fe0017;
 }
.header-bottom-zi-rf>li>a:hover{
	color: #cc0d24;
	text-decoration: none;
}
.header-bottom-zi-rf>li>a:hover>span{
	color: #cc0d24;
	text-decoration: none;                         
}
.header-bottom-zi-rf-jd{
	width: 70px;
	height: 31px;
	position: relative;
	display: block;

}
.header-bottom-zi-rf-jd-k{
		height: 200px;
		width: 100px;
		position: absolute;
		left: 0px;
		top: 30px;
} 
.header-bottom-zi-rf-jd-k-zi{
	margin-left:20px; 
	line-height: 45px;
}
.header-bottom-zi-rf-jd{
	z-index: 100;
}
.header-bottom-zi-rf-jd-k{
		z-index: 10;
}
.header-bottom-zi-rf-jd-k{
		display: none;
		transition: 0.5s;
		border-left: 1px solid #cccccc;
		border-right: 1px solid #cccccc;
		border-bottom: 1px solid #cccccc;
		border-top: 1px solid #cccccc;
		background: #ffffff;
}

/*search1*/
.search1{
	margin-top: -50px;
  	width: 1196px;
	height: 161px; 
	margin: 0  auto;
	/*border: 1px solid black;*/
}
.search1-lf{
	width: 192px;
	height: 190px;
	/*border: 1px solid red;	*/
	float: left;                                            header-bottom-zi-rf-jd-k
	background-color: white;
	margin-top: -30px;
}
.search1-lf>img{
	margin-top: -20px;
}
.search1-rf{
	width: 1000px;
	height: 161px;
	/*border: 1px solid blue;*/
	float: right;
}
.search1-rf-top{
	height: 90px;
	/*border: 1px solid red;*/
}
.search1-rf-bottom{
	height: 71px;
	/*border: 1px solid red;*/
}

.search1-rf-top-k {
	/*background-color: #ee3233;*/
	/*width: 50px;*/
	margin-top: 24px;
	margin-left: 115px;
}
.searchtext{
	width: 500px;
	height: 35px;
	/*border:2px solid #ee3233;*/
}
.searchbutton{
	width: 50px;
	height: 36px;
	background-color: #ee3233;
	border-width: 0;
	color: white;
	margin-left: -3px;
}
.search1-rf-top-zi{
	margin-left: 105px;
}
.search1-rf-top-zi li{
	float: left;
	margin-left: 10px;
	color:#9b9d9a;

}
.search1-rf-top-zi>li>a{
	color:#9b9d9a;
}
.search1-rf-top-zi>li>a:hover{
	color: #cc0d24;
	text-decoration: none;
}
.search1-rf-top-zi>li>a:hover>span{
	color: #cc0d24;
	text-decoration: none;
}
.search1-rf-top-zi>li>a>span{
	color: #fe0017;
}
.search1-rf-top-rf>.chek{
	border: 1px solid #eeeeee;
    background-color: #fafafa;
    width: 188px;
    height: 35px;
    margin-right: 115px; 
    margin-top: -40px;
    float: right;
}
.search1-rf-top-rf>.chek>span{
	color: #f90019;
	line-height: 30px;
	margin-left:10px; 
	/*text-align: center;*/
}
.search1-rf-top-rf>.chek>span>a{
	color: #f90019;
	text-decoration: none;
}
.search1-rf-top-rf>.chek>span>a:hover{
	color: #cc0d24;
	text-decoration: none;
}
.search1-rf-top-rf>.chek>a:hover>i{
	color: #cc0d24;
	text-decoration: none;
}
.search1-rf-top-rf .chek i{
	width: 26px;
	height:21px;
	background-position: 0px 0px;
	margin-left:35px; 
    background-image: url(../sprite/sprite1.png);
}
.chekma{
	width: 67px;
	height: 68px;
	float: right;
	margin-right:20px;
	margin-top:-55px; 
}
.search1-rf-bottom-zi>li{
	float: left;
	font-size: 14px;
	margin-left:20px; 
	line-height: 55px;
}
.search1-rf-bottom-tu{
	margin-left:90px; 
	margin-top:-20px; 
	/*margin-bottom: 20px; */
}
/*search2*/
.search2{
	height: 471px;
	/*border: 1px solid red;*/
}
.search2-lf{
	height: 471px;                   tanchu_dis
	width: 192px;
	/*border: 1px solid black;*/
	float: left;
	background-color: white;
	/*line-height: -10px;*/
	/*margin-top: -15px;*/

	
}
.search2-lf>li:hover{
	background-color: #e3e4e6;
}

                                    
.search2-lf>li{
	margin-left:20px; 
	font-size: 13px;
	color: #616161;
}
.search2-lf1{
	width: 170px;
	height: 31px;
	position: relative;                   header-bottom-zi-rf-jd
	display: block;

}
.search2-lf1:hover>.tanchu_dis{
		display: block;
	}
.search2-lf1-k1{
		z-index: 1;
		display: none;
		transition: 0.5s;
		width: 250px;
		height: 471px;
		background-color: #ffffff;
		box-shadow:4px 4px 9px #c0c1bf;           navall
}	 
.search2_position1{
		position: absolute;
		left: 171px;
		top: 0px;		
	}
.search2_position2{
		position: absolute;
		left: 171px;
		top: 0px;
}
.search2-lf1,.search2-lf2{
	z-index: 100;
}
.search2-lf1-k1,.search2-lf1-k2{
		z-index: 10;
}
.search2-lf1-k1,{
		display: none;
		transition: 0.5s;
		border-left: 1px solid #cccccc;
		border-right: 1px solid #cccccc;
		border-bottom: 1px solid #cccccc;
		border-top: 1px solid #cccccc;
		background: #ffffff;
}
.search2-lf1-k1-zi{
	float: left;

}
.search2-ct{
	width: 812px;
	height: 471px;                            nav-k2
	border: 1px solid red; 
	float: left;
}
.search2-ct-lftu{
	width: 591px;
	height: 471px;
	/*border: 1px solid red;*/
}
.search2-ct-lftu1{
	width: 591px;
	height: 471px;
	margin-left: 10px;
	margin-right: 5px;
	
	/*margin-top:  10px;*/
}
.search2-ct-lftu1:hover{         search2-ct-rftu
	opacity: 0.5;
}
	
.search2-ct-rftu2:hover{
	opacity: 0.5;
}    
.search2-ct-rftu{
	width: 190px;
}                          
.search2-ct-rftu2{
	padding-left: 20px; 
}
.search2-rf{
	width: 185px;                nav
	height: 471px;
	float: right;
	background-color:white; 
}
.search2-rf-k1{
	height: 150px;
	/*border: 1px solid red;*/

}
.search2-rf-k1-tu{
	border-radius: 50px;
	margin-top: -30px;
	margin-left:59px; 
	width: 69px;
	height: 69px;
}
.search2-rf-k1-tu:hover{
	opacity: 0.5;
}
.search2-rf-zi1{
    margin-left:35px;
    line-height: 20px; 
    color: #8e8e8e;
}
.search2-rf-zi1>span{
    margin-left:30px;
    color:#5f5f5f;
}
.search2-rf-xiaok{
	width: 150px;
	height: 25px;
	/*border: 1px solid red;*/
    margin-left: -15px;  
    margin-top:10px; 

}
.search2-rf-xin{
	width: 72px;
	height: 25px;
	background-color: #e5e5e5;
	border-radius: 25px;
	float: left;
	color: #e93743;
	/*margin-left:5px; */
}
.search2-rf-xin>span>a{
	color: #e93743;
}
.search2-rf-xin>span>a:hover{
	color: #cc0d24;
}
.search2-rf-pl{
	width: 72px;
	height: 25px;
	background-color: black;
	border-radius: 25px;
	float: right;
	color: #d1d282;

}
.search2-rf-pl>span>a{
	color: #d1d282;
}
.search2-rf-pl>span>a:hover{      
	color: #cc0d24;
}
.search2-rf-xin span{
    margin-left: 8px;
    line-height:25px;
}
.search2-rf-pl span{
	margin-left: 8px;
    line-height:25px;
}
.search2-rf-k2{
	height: 130px;
	/*border: 1px solid red;*/
}
.search2-rf-k2-top{
	height: 30px;
	/*border: 1px solid red;*/
	line-height: 30px;
}
.search2-rf-k2-top-zi1{
	font-weight:bold;
}
.search2-rf-k2-top-zi2{
	color: #8e8e8e;
}
.search2-rf-k2-bottom{
	height: 100px;

}
.search2-rf-k2-bottom-lf{
	width: 53px;
	height: 100px;
	/*border: 1px solid red;*/
}
.search2-rf-k2-bottom-lf-k1{
	width: 35px;
	height: 16px;
	background-color: #e67d81;
	margin: 6px;
}
.search2-rf-k2-bottom-lf-k1>span{
	color: white;
    margin-left: 5px;
}
.search2-rf-k2-bottom-rf{
	width: 125px;
	height: 100px;
	/*border: 1px solid red;*/
	line-height: 23px;
}
.search2-rf-k3{
	height: 191px;
	/*border: 1px solid black;*/
	/*border: 1px solid #aaaaaa;*/

}
.search2-rf-k4{
	width: 170px;
	height: 153px;
	/*border: 1px solid red;*/
	margin-top:10px; 
	margin-left:5px; 
}
.search2-rf-k4>li{
	width: 40px;
	height: 55px;
	/*border: 1px solid black;*/
	float: left;
	line-height: 20px;
	text-align: center;
	color: #bfb5a9;

}
.search2-rf-k4>li>a{
	color: #bfb5a9;
}
.tu1>i{
	width: 24px;
	height: 24px;
	background-position: -145px -42px;
	margin-left:4px; 
}
.tu2>i{
	width: 25px;
	height: 24px;
	background-position: -29px -42px;
	margin-left:4px; 
}
.tu3>i{
	width: 24px;
	height: 24px;
	background-position: -174px -42px;
	margin-left:4px; 
}
.tu4>i{
	width: 24px;
	height: 24px;
	background-position: -87px -42px;
	margin-left:4px; 
}
.tu5>i{
	width: 24px;
	height: 24px;
	background-position: -116px -42px;
	margin-left:4px; 
}
.tu6>i{
	width: 24px;
	height: 24px;
	background-position: -116px -71px;
	margin-left:4px; 
}
.tu7>i{
	width: 24px;
	height: 24px;
	background-position: -58px -42px;
	margin-left:4px; 
}
.tu8>i{
	width: 24px;
	height: 24px;
	background-position: 0px -71px;
	margin-left:4px; 
}
.tu9>i{
	width: 24px;
	height: 24px;
	background-position: -29px -71px;
	margin-left:4px; 
}
.tu10>i{
	width: 24px;
	height: 24px;
	background-position: -87px -42px;
	margin-left:4px; 
}
.tu11>i{
	width: 24px;
	height: 24px;
	background-position: -87px -71px;
	margin-left:4px; 
}
.tu12>i{
	width: 24px;
	height: 24px;
	background-position: 0px -42px;
	margin-left:4px; 
}
/*nav部分*/
.nav{
	height: 271px;                        
	background-color: white;           
	margin-top:30px; 
}
.nav-k1{
	width: 191px;
	height: 271px;
	background-color: #e83632;
	/*border:1px solid red;*/
}

.con-1{
		width: 135px;
		height: 40px;
		background-color: #e83632;
		margin-left: 30px;
		margin-top: 15px;
	}
	.con-1>.hour{
		position: relative;
		float: left;
		width: 40px;
		height: 40px;
		background-color: #2f3430;
		margin-right: 5px;
	}
	.con-1>.hour>.digit{
		position: absolute;
		left: 0;
		top: 0;
		font-size: 30px;
		font-family: '黑体';
		color: white;
		text-align: center;
		line-height: 40px;
		z-index: 10;
		padding-left: 5px;
		}
	.con-1>.hour>.hr{
		position: absolute;
		left: 0;
		top: 50%;
		width: 100%;
		height: 2px;
		background-color: red;
		z-index: 1;
	}
.nav-k1-zi1{
	font-size: 35px;
	color: white;
	margin-left:25px; 
	padding-top:35px; 
}
.nav-k1-zi1>span{
	font-size: 20px;
	color:#f89ea0;
	margin-left:5px; 
	margin-top:10px; 
}
.nav-k1-tu>i{
	background-image: url(../sprite/sprite7.png);
	/*background-repeat:no-repeat;*/
	width: 20px;
	height: 33px;
	background-position: -35px -25px;
	margin-left: 80px; 
	margin-top:5px; 
}
.nav-k1-zi2{
	font-size: 20px;
	color: white;
	margin-left:15px; 
	margin-top:10px; 
}
.nav-k1-hei{
	width: 150px;
	height: 40px;
	/*border:1px solid black;*/
	margin-left:30px; 
	margin-top:10px; 
}
.nav-k1-hei-k1{
	width: 40px;
	height: 40px;
	background-color: black;
	float: left;
	margin-left: 5px;
	color: white;
	font-size: 20px;
	font-weight: bold;
	position: relative;
	line-height: 40px;
	text-align: center;
    z-index: 10;
}
.nav-k1-hei-k1>span{
	/*margin-left: 5px; 
	margin-top: 5px; */
	z-index: 100;
}
.hr{
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: red;
	top: 50%;
	left: 0;
	z-index: 1;
		}
    
.nav-k2{                           nav-k2
	width: 200px;
	height: 271px;
	/*border:1px solid black;*/
}
.nav-k2-tu{
	width: 162px;
	height: 162px;
	margin-left:30px; 
	margin-top:30px; 
}
.nav-k2-tu:hover{
	opacity: 0.5;
}
.nav-k2-zi1{
	margin-left:15px; 
	margin-top:10px; 

}
.nav-k2-k{
	width: 162px;
	height: 22px;
	margin-left:15px; 
	margin-top:10px; 
	border:2px solid #e73332;
	line-height: 20px;

}
.nav-k2-k1{
	width: 81px;
	height: 22px;
	background-color: #e73332;
	color: white;
	font-weight: bold;
}
.nav-k2-k1>span{
    margin-left: 5px;
    /*padding-top:20px; */


}
.nav-k2-k2{
	color:#b8b8b8;
}
.nav-k2-k2>span{
	margin-right: 15px;
    /*margin-top:15px; */
}
.nav-k3{
	width: 200px;
	height: 271px;
	
}
.nav-k3-tu{                 search2-rf
	width: 162px;
	height: 162px;
	margin-left:30px; 
	margin-top:30px; 
}
.nav-k3-tu:hover{
	opacity: 0.5;
}
.nav-k3-zi1{
	margin-left:15px; 
	margin-top:10px; 

}
.nav-k3-k{
	width: 162px;
	height: 22px;
	margin-left:15px; 
	margin-top:10px; 
	border:2px solid #e73332;
	line-height: 20px;

}
.nav-k3-k1{
	width: 81px;
	height: 22px;
	background-color: #e73332;
	color: white;
	font-weight: bold;
}
.nav-k3-k1>span{
    margin-left: 5px;
    /*padding-top:20px; */


}
.nav-k3-k2{
	color:#b8b8b8;
}
.nav-k3-k2>span{
	margin-right: 15px;
    /*margin-top:15px; */
}
.nav-k4{
	width: 200px;
	height: 271px;
	/*border:1px solid black;*/
}
.nav-k4-tu{
	width: 162px;
	height: 162px;
	margin-left:30px; 
	margin-top:30px; 
}
.nav-k4-tu:hover{
	opacity: 0.5;
}
.nav-k4-zi1{
	margin-left:15px; 
	margin-top:10px; 

}
.nav-k4-k{
	width: 162px;
	height: 22px;
	margin-left:15px; 
	margin-top:10px; 
	border:2px solid #e73332;
	line-height: 20px;

}
.nav-k4-k1{
	width: 81px;
	height: 22px;
	background-color: #e73332;
	color: white;
	font-weight: bold;
}
.nav-k4-k1>span{
    margin-left: 5px;
    /*padding-top:20px; */


}
.nav-k4-k2{
	color:#b8b8b8;
}
.nav-k4-k2>span{
	margin-right: 15px;
    /*margin-top:15px; */
}
.nav-k5{
	width: 200px;
	height: 271px;
	/*border:1px solid black;*/
}
.nav-k5-tu{
	width: 162px;
	height: 162px;
	margin-left:30px; 
	margin-top:30px; 
}
.nav-k5-tu:hover{
	opacity: 0.5;
}
.nav-k5-zi1{
	margin-left:15px; 
	margin-top:10px; 

}
.nav-k5-k{
	width: 162px;
	height: 22px;
	margin-left:15px; 
	margin-top:10px; 
	border:2px solid #e73332;
	line-height: 20px;

}
.nav-k5-k1{
	width: 81px;
	height: 22px;
	background-color: #e73332;
	color: white;
	font-weight: bold;
}
.nav-k5-k1>span{
    margin-left: 5px;
    /*padding-top:20px; */


}
.nav-k5-k2{
	color:#b8b8b8;
}
.nav-k5-k2>span{
	margin-right: 15px;
    /*margin-top:15px; */
}
.nav-k6{
	width: 195px;
	height: 271px;
	/*border:1px solid black;*/
}
.nav-k6-tu{
	margin-left: 20px;
	margin-top:6px; 
}
.nav-k6-tu:hover{
	opacity: 0.5;
}

/*nav1*/
.nav1 {
	height: 451px;
	/*border:1px solid black;*/
	margin-top:30px; 

}
.hongq{
	/*padding-top:10px; */
}
.nav1-lf{
	width: 391px;
	height: 451px;
	/*border:1px solid black;*/
	background-color: white;
}
.nav1-lf-top{
	height: 61px;
	/*border:1px solid black;*/
}
.nav1-lf-top-zi1{
	font-size: 25px;
	line-height: 55px;
	margin-left: 20px;
}
.nav1-lf-top-zi1>span{
	color: #9f9a97;
	font-size: 17px;
	/*font-weight: bold;*/
	margin-left:20px; 

}
.nav1-lf-ct{
	height: 34px;
	background-color: #f7f7f7;
}
.nav1-lf-ct>li{
    float: left;
    margin-left:35px;
    line-height: 35px;                content1-lf-tu1
    

}
.nav1-lf-ct>li>a{
	color: #9f9a97;
}
.nav1-lf-bottom{
	height: 321px;
	/*border:1px solid red;*/
}
.nav1-lf-bottom-lf{
	width: 117px;
	height: 321px;
	/*border:1px solid red;*/
}
.nav1-lf-bottom-rf-zik1{
	width: 268px;
	height: 107px;
	/*border:1px solid red;*/

}
.nav1-lf-bottom-rf-zi1-shu1{
	font-size: 35px;
	color: #f84145;
	margin-left:-12px; 
	line-height: 95px;
}
.nav1-lf-bottom-rf-zi1{
	color: #7d7d7d;
    margin-top: 30px;
    margin-right: 25px;
}
.nav1-lf-bottom-rf-zi1>a{
	color: #7d7d7d;
}
.nav1-lf-bottom-rf-zik2{
    width: 268px;
	height: 107px;
	/*border:1px solid red;*/
}
.nav1-lf-bottom-rf-zi2-shu2{
	font-size: 35px;
	color: #fc712c;
	margin-left:-12px; 
	line-height: 95px;
}
.nav1-lf-bottom-rf-zi2{
	color: #7d7d7d;
    margin-top: 30px;
    margin-right: 25px;
}
.nav1-lf-bottom-rf-zi2>a{
	color: #7d7d7d;
}
.nav1-lf-bottom-rf-zik3{
    width: 268px;
	height: 107px;
	/*border:1px solid red;*/
}
.nav1-lf-bottom-rf-zi3-shu3{
	font-size: 35px;
	color: #fdb38c;
	margin-left:-12px; 
	line-height: 95px;
}
.nav1-lf-bottom-rf-zi3{
	color: #7d7d7d;
    margin-top: 30px;
    margin-right: 25px;
}
.nav1-lf-bottom-rf-zi3>a{
	color: #7d7d7d;
}
.nav1-ct{
	width: 390px;
	height: 451px;
	/*border:1px solid black;*/
	background-color: white;
	margin-left:9px;                   nav-k5-tu
}
.nav1-ct-tu1:hover,.nav1-ct-tu2:hover,.nav1-ct-tu3:hover{
	opacity: 0.5;
}
.nav1-ct-top{
	height: 59px;
	
}
.nav1-ct-top-zi1{
	font-size: 25px;
	line-height: 55px;
	margin-left: 20px;
	/*font-weight: bold;*/
}
.nav1-ct-top-zi1>span{
	color: #9f9a97;
	font-size: 17px;
	
	margin-left:20px; 
}
.nav1-ct-datu{
	margin-left: 20px;
}
.nav1-ct-datu:hover{
	opacity: 0.5;
}
.nav1-ct-tuk{
	height: 133px;
	/*border:1px solid black;*/
}
.nav1-ct-tuk>img{
	margin-left: 20px; 
	margin-top:13px; 
}
.nav1-ct-zi1{
	font-size: 17px;
	font-weight: bold;
	margin-left: 70px; 
}
.nav1-ct-zi2{
	color: #696969;
	margin-left:40px; 
	margin-top:15px; 
}
.nav1-rf{
	width: 390px;
	height: 451px;
	/*border:1px solid black;*/
	background-color: white;
	margin-left:9px; 
}
.nav1-rf-top{
	height: 59px;
	/*border:1px solid black;*/
}
.nav1-rf-top-zi1{
	font-size: 25px;
	line-height: 55px;
	margin-left: 20px;
	/*font-weight: bold;*/
}
.nav1-rf-top-zi1>span{
	color: #9f9a97;
	font-size: 17px;
	margin-left:20px; 
}
.nav1-rf-k{
	width: 348px;
	height: 351px;
	/*border:1px solid black;*/
	margin-left:20px; 
}
.nav1-rf-k1{
	height: 117px;
	/*border:1px solid red;*/
	background-color: #f6f6f6;
}
.nav1-rf-k1-q1,.nav1-rf-k2-q1,.nav1-rf-k3-q1{
	width: 90px;
	height: 90px;
	border-radius: 50px;
	background-color: white;
	margin-left: 7px;
	margin-top:10px;  
}
.nav1-rf-k1-tu1{
	margin-left: 10px;
	margin-top: 10px; 
}
.nav1-rf-k1-zi1,.nav1-rf-k2-zi1,.nav1-rf-k3-zi1{
	margin-top:20px;
	line-height: 25px; 
	margin-left:10px; 
}
.nav1-rf-k1-zi1-h1,.nav1-rf-k2-zi1-h1,.nav1-rf-k3-zi1-h1{
	color: #dc382e;
	font-size: 20px;
	font-weight: bold;
}
.nav1-rf-k1-zi1-h2,.nav1-rf-k2-zi1-h2,.nav1-rf-k3-zi1-h2{
	color: #c0c0c0;
}
.nav1-rf-k1-zi1-h3,.nav1-rf-k2-zi1-h3,.nav1-rf-k3-zi1-h3{
	color: #707271;
}
.nav1-rf-k1-shu,.nav1-rf-k2-shu,.nav1-rf-k3-shu{
	margin-top:8px; 
	margin-right:20px; 
}
.nav1-rf-k2{
	height: 117px;
	/*border:1px solid red;*/
	background-color: #ececea;
}
.nav1-rf-k2-tu1{
	margin-left: 15px;
	margin-top: 10px;
	width: 63px;
	height: 65px;
}
.nav1-rf-k3{
	height: 117px;
	/*border:1px solid red;*/
	background-color: #f6f6f6;
}
.nav1-rf-k3-tu1{
	margin-left: 15px;
	margin-top: 10px;
	width: 63px;
	height: 65px;
}
/*nav2*/
.nav2 {
	height: 451px;
	/*border:1px solid black;*/
	margin-top:30px; 

}
.nav2-lf{
	width: 391px;
	height: 451px;
	/*border:1px solid black;*/
	background-color: white;
}
.nav2-lf-top{
	height: 61px;
}
.nav2-lf-top-zi1{
	font-size: 25px;
	line-height: 55px;
	margin-left: 20px;
	/*font-weight: bold;*/
}
.nav2-lf-top-zi1>span{
	color: #9f9a97;
	font-size: 17px;
	margin-left:20px; 
}
.nav2-lf-tu{
    margin-left:20px; 
}
.nav2-lf-tu:hover{
	opacity: 0.5;
}
.nav2-lf-zik{
	width: 391px;
	height: 104px;
	/*border:1px solid black;*/
}
.nav2-lf-zi1{
	font-size:15px;
	margin-left:40px;
	margin-top:20px;  

}
.nav2-lf-zi2{
	font-size: 13px;
	color: #9a9a9a;
    margin-top:15px; 
    margin-left:40px;
} 
.nav2-ct{
	width: 391px;
	height: 451px;
	/*border:1px solid black;*/
	background-color: white;
	margin-left:9px; 
}
.nav2-ct-top{
	height: 61px;
} 
.nav2-ct-top-zi1{   
	font-size: 25px;
	line-height: 55px;
	margin-left: 20px; 
}
.nav2-ct-top-zi1>span{
	color: #9f9a97;
	font-size: 17px;
	margin-left:20px; 
}
.nav2-ct-bottom{
	height: 390px;
	/*border:1px solid black;*/
}
.nav2-ct-bottom-k1{
	width: 195px;
	height: 195px;
	/*border:1px solid black;*/
}
.nav2-ct-bottom-k1-tu1{
	margin-left:40px;
}
.nav2-ct-bottom-k1-tu1:hover{
	opacity: 0.5;
}
.nav2-ct-bottom-k1-zi1{
	color: #3cafe6;
	font-weight: bold;
	margin-left:55px; 
}

.nav2-ct-bottom-k1-zi1>a{
	color: #3cafe6;
}
.nav2-ct-bottom-k1-zi1>a:hover{
	color: #cc0d24;
	text-decoration: none;
}
.nav2-ct-bottom-k1-zi2{
	margin-left:15px;
	color: #686262;
}
.nav2-ct-bottom-k2-zi1>a{
	color: #3cafe6;                            content2-rf-k1-lf-zi1
}
.nav2-ct-bottom-k2-zi1>a:hover{   
	color: #cc0d24;
	text-decoration: none;
} 
.nav2-ct-bottom-k4-zi1>a{
	color: #3cafe6;
}
.nav2-ct-bottom-k3-zi1>a{
	color: #3cafe6;
}
.nav2-ct-bottom-k4-zi1>a:hover{
	color: #cc0d24;
	text-decoration: none;
}
.nav2-ct-bottom-k3-zi1>a:hover{
	color: #cc0d24;
	text-decoration: none;
}
.nav2-ct-bottom-k2{
	width: 190px;
	height: 195px;
	/*border:1px solid black;*/
}
.nav2-ct-bottom-k2-tu2{
	margin-left:40px;
}
.nav2-ct-bottom-k2-tu2:hover{
	opacity: 0.5;
}
.nav2-ct-bottom-k2-zi1{
	color: #3cafe6;
	font-weight: bold;
	margin-left:40px; 
}
.nav2-ct-bottom-k2-zi2{
	margin-left:15px;
	color: #686262;
}
.nav2-ct-bottom-k3{
	width: 195px;
	height: 195px;
	/*border:1px solid black;*/
}
.nav2-ct-bottom-k3-tu1{
	margin-left:40px;
}
.nav2-ct-bottom-k3-tu1:hover{
	opacity: 0.5;
}
.nav2-ct-bottom-k3-zi1{
	color: #3cafe6;
	font-weight: bold;
	margin-left:40px; 
}
.nav2-ct-bottom-k3-zi2{
	margin-left:15px;
	color: #686262;
}
.nav2-ct-bottom-k4{
	width: 190px;
	height: 195px;
	/*border:1px solid black;*/
}
.nav2-ct-bottom-k4-tu1{
	margin-left:40px;
}
.nav2-ct-bottom-k4-tu1:hover{
	opacity: 0.5;
}
.nav2-ct-bottom-k4-tu2{
	margin-left:40px;
}
.nav2-ct-bottom-k4-tu2:hover{
	opacity: 0.5;
}
.nav2-ct-bottom-k4-zi1{
	color: #3cafe6;
	font-weight: bold;
	margin-left:30px; 
}
.nav2-ct-bottom-k4-zi2{
	margin-left:15px;
	color: #686262;
}
.nav2-rf{
	width: 390px;
	height: 451px;
	/*border:1px solid black;*/
	background-color: white;
	margin-left:9px; 
}
.nav2-rf-top-zi1{
	font-size: 25px;
	line-height: 55px;
	margin-left: 20px;
}
.nav2-rf-top-zi1>span{
	color: #9f9a97;
	font-size: 17px;
	margin-left:20px; 
}
.nav2-rf-datu{
	margin-left:18px;    
}
.nav2-rf-datu:hover{
	opacity: 0.5;
}
.nav2-rf-xtu{
	margin-left:30px; 
	margin-top:15px; 
}
.nav2-rf-xtu:hover{
	opacity: 0.5;
}
.shishang{
	/*width: 390px;*/
	height: 95px;
	/*border:1px solid black;*/
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	line-height: 100px;
}
/*content1*/
.content1{
    height: 451px;
	/*border:1px solid black;*/
	/*margin-top:30px;*/
}
.content1-lf{
	width: 390px;
	height: 451px;
	/*border:1px solid black;*/
	background-color: white;
}
.content1-lf-top-zi1{
	font-size: 25px;
	line-height: 55px;
	margin-left: 20px;             chek
}
.content1-lf-top-zi1>span{
	color: #9f9a97;
	font-size: 17px;
	margin-left:20px; 
}
.content1-lf-tu1{
	width: 351px;
	height: 181px;              
	margin-left:18px; 
}
.content1-lf-tu1:hover{
	opacity: 0.5;
}
.content1-lf-tu2{
	width: 170px;
	height: 183px;
	margin-left: 18px; 
}
.content1-lf-tu2:hover{
	opacity: 0.5;
}
.content1-lf-tu3{
	width: 170px;
	height: 183px;
	margin-left: 8px;
}
.content1-lf-tu3:hover{
	opacity: 0.5;
}
.content1-ct {
	width: 390px;
	height: 451px;
	/*border:1px solid black;*/
	background-color: white;
	margin-left: 9px;
}
.content1-ct-top-zi1{
	font-size: 25px;
	line-height: 55px;
	margin-left: 20px;
}
.content1-ct-top-zi1>span{
	color: #9f9a97;
	font-size: 17px;
	margin-left:20px; 
}
.content1-ct-tu1{
	width: 351px;
	height: 181px;
	margin-left:18px; 
}
.content1-ct-tu2{
	width: 170px;
	height: 183px;
	margin-left: 18px; 
}
.content1-ct-tu3{
	width: 170px;
	height: 183px;
	margin-left: 8px;
}
.content1-rf{
	width: 390px;
	height: 451px;
	/*border:1px solid red;*/
	/*background-color: white;*/
	margin-left: 9px;
}
.content1-rf-hk{
	width: 350px;
	border:5px solid black;
	height: 429px;  
	margin-left:35px;  
	margin-top:16px; 
	position: relative;
}
.content1-rf-tu{
	margin-left: -20px;
	margin-top:-20px; 
}
/*content2*/
.content2{
	height: 451px;
	/*border:1px solid red;*/
	margin-top:30px; 
}
.content2-lf{
    width: 390px;
	height: 451px;
	/*border:1px solid red;*/
	/*background-color: white;*/

}
.content2-ct,.content2-rf{
	width: 390px;
	height: 451px;
	/*border:1px solid red;*/
	background-color: white;
	margin-left: 9px;
}
.content2-lf-hk{
	width: 350px;
	border:5px solid black;
	height: 429px;  
	margin-top:16px; 
	position: relative;
}
.content2-lf-tu{
	margin-left: 40px;
	margin-top:-23px; 
}
.content2-ct-top{
	height: 61px;
} 
.content2-ct-top-zi1{
	font-size: 20px;
	line-height: 55px;
	margin-left: 20px;
}
.content2-ct-top-zi1>span{
	color: #9f9a97;
	font-size: 17px;
	margin-left:20px; 
}
.content2-ct-k1{
    height: 195px;
    border-bottom:1px solid #f2f2f2;
}
.content2-ct-k1-lf{
	width: 195px;
	height: 195px;
    /*border:1px solid black;*/
}
.content2-ct-k1-rf{
	width: 187px;
	height: 195px;
    /*border:1px solid black;*/
}
.content2-ct-tu1,.content2-ct-tu2{
	margin-left:30px; 
	margin-top: 30px;
}
.content2-ct-k2-top{
	height: 61px;
} 
.content2-ct-k2-top-zi1{
	font-size: 20px;
	line-height: 55px;
	margin-left: 20px;
}
.content2-ct-k2-top-zi1>span{
	color: #9f9a97;
	font-size: 17px;
	margin-left:20px; 
}
.content2-ct-tu3{
	margin-left:30px; 
}
.content2-ct-tu4{
	margin-left: 60px;
}
.content2-rf-top{
	height: 61px;
} 
.content2-rf-top-zi1{
	font-size: 20px;
	line-height: 55px;
	margin-left: 20px;
}
.content2-rf-top-zi1>span{
	color: #9f9a97;
	font-size: 17px;
	margin-left:20px; 
}
.content2-rf-k1{
	width: 351px;
	height: 181px;
	/*border:1px solid black;*/
	margin-left:18px; 
}
.content2-rf-k1-lf{
	width:115px;
	height: 181px;
	/*border:1px solid black;*/
	background-color: #aeb7c8;
}
.content2-rf-k1-rf{
	background-color: #e3e6ed; 
	width: 236px;
	height: 181px;
}
.content2-rf-k1-lf-zi1{
	color: white;
	font-weight: bold;
	font-size: 15px;
	margin-top:35px; 
	margin-left: 15px;
}
.content2-rf-k1-lf-zi1>a{
	color: white;
}
.content2-rf-k1-lf-zi1>a:hover{
	color: #cc0d24;
}
.content2-rf-k1-lf-zi2{
	font-size: 14px;
	color: white;
	margin-top:60px; 
	margin-left: 15px;
}
.content2-rf-k1-rf-tuk{
	width: 234px;
	height: 140px;
	/*border:1px solid black;*/
}
.content2-rf-k1-rf-tu1{
	margin-top:30px; 
	margin-left:25px; 
	border-radius: 20px;
}
.content2-rf-k1-rf-tu2{
	margin-top:30px; 
	margin-left:10px;
	border-radius: 20px;
}
.content2-rf-k1-rf-hk-zi1{
	color: #da2e3a;
	margin-left:40px; 
}
.content2-rf-k1-rf-hk-zi2{
	color: #da2e3a;
	margin-left:50px; 
}
.content2-rf-k2{
	width: 351px;
	height: 181px;
	/*border:1px solid black;*/
	margin-left:18px; 
	margin-top: 10px;           
}
.content2-rf-k2-lf{
	width:115px;
	height: 181px;
	background-color: #bfb4c5;
}
.content2-rf-k2-lf-zi1{
	color: white;
	font-weight: bold;
	font-size: 15px;
	padding-top:35px; 
	margin-left: 15px;
}
.content2-rf-k2-lf-zi1>a{
	color: white;
}
.content2-rf-k2-lf-zi1>a:hover{
	color: #cc0d24;
}
.content2-rf-k2-lf-zi2{
	font-size: 14px;
	color: white;
	padding-top:60px; 
	margin-left: 15px;
}
.content2-rf-k2-rf{
	background-color:#eee8f2;
	width: 236px;
	height: 181px;
}
.content2-rf-k2-rf-tuk{
    width: 234px;
	height: 140px;
	/*border:1px solid black;*/
}
.content2-rf-k2-rf-tu1{
	margin-top:30px; 
	margin-left:25px; 
	border-radius: 20px;
}
.content2-rf-k2-rf-tu2{
	margin-top:30px; 
	margin-left:10px;
	border-radius: 20px;
}
.content2-rf-k2-rf-hk-zi1{
	color: #da2e3a;
	margin-left:40px; 
}
.content2-rf-k2-rf-hk-zi2{
	color: #da2e3a;
	margin-left:50px; 
}
/*content3*/
.content3{
	height: 451px;
	/*border:1px solid red;*/
	margin-top:30px; 
}
.content3-lf{
    width: 390px;
	height: 451px;
	/*border:1px solid black;*/
	background-color: white;
}
.content3-lf-top{
	height: 61px;
} 
.content3-lf-top-zi1{
	font-size: 20px;
	line-height: 55px;
	margin-left: 20px;
}
.content3-lf-top-zi1>span{
	color: #9f9a97;
	font-size: 17px;
	margin-left:20px; 
}
.content3-ct{
	width: 390px;
	height: 451px;
	/*border:1px solid black;*/
	background-color: white;
	margin-left:9px; 
}
.content3-ct-top{
	height: 61px;
} 
.content3-ct-top-zi1{
	font-size: 20px;
	line-height: 55px;
	margin-left: 20px;
}
.content3-ct-top-zi1>span{
	color: #9f9a97;
	font-size: 17px;
	margin-left:20px; 
}
.content3-rf{
	width: 390px;
	height: 451px;
	/*border:1px solid red;*/
	/*background-color: white;*/
	margin-left: 9px;
}
.content3-rf-hk{
	width: 350px;
	border:5px solid black;
	height: 429px;  
	margin-left:35px;  
	margin-top:16px; 
	position: relative;
}
.content3-rf-tu1{
	margin-left: -25px;
	margin-top:-30px; 
}
.content3-rf-tu2{
	margin-left: -25px;
	margin-top:20px; 
}
/*content4*/
.content4{
	height: 451px;
	/*border:1px solid red;*/
	/*margin-top:30px; */
}
.content4-lf{
    width: 390px;
	height: 451px;
	/*border:1px solid black;*/
	background-color: white;
}
.content4-lf-top{
	height: 61px;
} 
.content4-lf-top-zi1{
	font-size: 20px;
	line-height: 55px;
	margin-left: 20px;
}
.content4-lf-top-zi1>span{
	color: #9f9a97;
	font-size: 17px;
	margin-left:20px; 
}
.content4-lf-tuda1{
	margin-left:18px; 
}
.content4-lf-tuda2{
    margin-left:10px; 
}
.content4-lf-tuk{
	width: 320px;
	height: 180px;
	border-top:1px solid #eaeaea;
	border-left:1px solid #eaeaea;
	border-right:1px solid #eaeaea;
	margin-top:15px; 
	margin-left:30px; 

}
.content4-lf-tu1{
	width: 80px;
	height: 55px;
	border-bottom:1px solid #eaeaea;
	border-right:1px solid #eaeaea; 
}
.content4-lf-tu2{
	width: 60px;
	height: 55px;
	border-bottom:1px solid #eaeaea;
}
.content4-ct{
	width: 390px;
	height: 451px;
	/*border:1px solid black;*/
	background-color: white;
	margin-left: 9px;
}
.content4-ct-top{
	height: 61px;
} 
.content4-ct-top-zi1{
	font-size: 20px;
	line-height: 55px;
	margin-left: 20px;
}
.content4-ct-top-zi1>span{
	color: #9f9a97;
	font-size: 17px;
	margin-left:20px; 
}
.content4-ct-tu{
	margin-left:20px; 
}
.content4-rf{
	width: 390px;
	height: 451px;
	/*border:1px solid black;*/
	/*background-color: white;*/
	margin-left: 9px;
}
.content4-rf-hk{
	width: 350px;
	border:5px solid black;
	height: 429px;  
	margin-left:35px;  
	margin-top:16px; 
	position: relative;
}
.content4-rf-tu{
	margin-left: -20px;
	margin-top:-20px; 
}
.content5{
	height: 451px;
	/*border:1px solid red;*/
	margin-top:30px; 
}
.content5-lf{
	width: 390px;
	height: 451px;
	/*border:1px solid black;*/
	/*background-color: white;*/
	/*margin-left: 9px;*/
}
.content5-lf-tu1{
	margin-left: 30px;
	margin-top:-20px; 
}
.content5-lf-tu2{
	margin-left: 30px;
	margin-top:20px;

}
.content5-ct{
	width: 390px;
	height: 451px;
	/*border:1px solid black;*/
	background-color: white;
	margin-left: 9px;
}
.content5-ct-top{
	height: 61px;
} 
.content5-ct-top-zi1{
	font-size: 20px;
	line-height: 55px;
	margin-left: 20px;
}
.content5-ct-top-zi1>span{
	color: #9f9a97;
	font-size: 17px;
	margin-left:20px; 
}
.content5-rf{
	width: 390px;
	height: 451px;
	/*border:1px solid black;*/
	background-color: white;
	margin-left: 12px;
}
.content5-rf-top{
	height: 61px;
} 
.content5-rf-top-zi1{
	font-size: 20px;
	line-height: 55px;
	margin-left: 20px;
}
.content5-rf-top-zi1>span{
	color: #9f9a97;
	font-size: 17px;
	margin-left:20px; 
}
.content5-rf-tu1{
	margin-left:20px; 
}
.content5-rf-tu2{
	margin-left:20px; 
	margin-top:10px; 
}
/*footer1*/
.footer1{
    height: 114px;
    /*border:1px solid black;*/
}
.footer1-h1,.footer1-h2,.footer1-h3,.footer1-h4{
	float: left;
	margin-left: 90px;
	line-height: 110px;
	font-size: 16px;
	font-weight: bold;
}
.footer1-h1>b{
	width: 36px;
	height: 42px;
	background-position: 0px -192px;
	padding-right: 5px; 
}
.footer1-h2>b{
	width: 36px;
	height: 42px;
	background-position: -41px -192px;
	padding-right: 5px; 
}
.footer1-h3>b{
	width: 36px;
	height: 42px;
	background-position: -82px -192px;
	padding-right: 5px; 
}
.footer1-h4>b{
	width: 36px;
	height: 42px;
	background-position: -123px -192px;
	padding-right: 5px; 
}
.footer2{
    height: 200px;
    border-bottom: 1px solid #e1e3e0;
    border-top:1px solid #e1e3e0;
}
.footer2-k1>li>a,.footer2-k2>li>a,.footer2-k3>li>a,.footer2-k4>li>a,.footer2-k5>li>a{
	color: #6e6b64;
}
.footer2-k1-zi1>a:hover,.footer2-k1-zi2>a:hover,.footer2-k3>a:hover,.footer2-k4>a:hover,.footer2-k5>a:hover{
	color: #cc0d24;
}
.footer2-k1>li>a:hover,.footer2-k2>li>a:hover,.footer2-k3>li>a:hover,.footer2-k4>li>a:hover,.footer2-k5>li>a:hover{
	color: #cc0d24;
}
.footer2-k1,.footer2-k2,.footer2-k3,.footer2-k4,.footer2-k5{
	margin-left:95px; 
	float: left;
	color: #6e6b64;
	margin-top: 18px;
}
.footer2-k1,.footer2-k2,.footer2-k3,.footer2-k4,.footer2-k5>li{
	line-height: 22px;
}
.footer2-k1-zi1,.footer2-k1-zi2,.footer2-k1-zi3,.footer2-k1-zi4,.footer2-k1-zi5{
	font-weight: bold;
	font-size:15px;
	margin-bottom:5px; 
	/*color: black;*/
}
.footer2-k6{
	width: 243px;
	height: 200px;
	/*border: 1px solid black;*/
	float: right;
}
.footer2-k6-zi>b{
	width: 201px;
	height: 154px;
	background-position: 0px 0px;
	margin-left: 15px; 
}
.footer2-k6-zi1{
	color: #6e6b64;
	margin-left:40px; 

}
.footer2-k6-zi2{
	color: #6e6b64;
	margin-left:5px;
	margin-top:15px;  
}
.footer2-k6-zi3{
	color: #6e6b64;
	margin-left:115px;
}
/*footer3*/
.footer3{
    height: 258px;
    border-bottom: 1px solid #e1e3e0;
    border-top:1px solid #e1e3e0;
}
.footer3>li{
	margin-left:11px;
	float: left; 
	color: #535f5f;
	/*font-weight: bold;*/
}
.footer3>li>a{
	color: #535f5f;
}
.footer3>li>a:hover{
	color: #cc0d24;
}
.footer3-zi1{
	margin-top:30px; 
	margin-left:160px;
}
.footer3-zi1>li{
	margin-left:11px;
	float: left; 
	color:#9ea2a3;
}
.footer3-zi2{
	margin-top:50px; 
	margin-left:115px;
}
.footer3-zi2>li{
	margin-left:11px;
	float: left; 
	color:#9ea2a3;
}
.footer3-zi3{
	margin-top:70px; 
	margin-left:160px;
}
.footer3-zi3>li{
	margin-left:11px;
	float: left; 
	color:#9ea2a3;
}
.footer3-zi4{
	margin-top:90px; 
	margin-left:160px;
}
.footer3-zi4>li{
	margin-left:28px;
	float: left; 
	color:#9ea2a3;
}
.footer3-zi4-tu1>i{
	background-image: url(../sprite/sprite5.png);
	width: 12px;
	height: 12px;
	background-position: -1px 0px;
	margin-right:5px; 
}
.footer3-zi4-tu2>i{
	background-image: url(../sprite/sprite5.png);
	width: 15px;
	height: 10px;
	background-position: -20px 0px;
	margin-right:5px; 
}
.footer3-zi4-tu3>i{
	background-image: url(../sprite/sprite5.png);
	width: 15px;
	height: 10px;
	background-position: -40px 0px;
	margin-right:5px; 
}
.footer3-zi4-tu4>i{
	background-image: url(../sprite/sprite5.png);
	width: 15px;
	height: 10px;
	background-position: 0px -17px;
	margin-right:5px; 
}
.footer3-zi4-tu5>i{
	background-image: url(../sprite/sprite5.png);
	width: 15px;
	height: 10px;
	background-position: -20px -17px;
	margin-right:5px; 
}
.footer3-zi5{
	margin-top:110px; 
	margin-left:450px;
}
.footer3-zi5>li{
	float: left;
	color:#9ea2a3;
}
.footer3-zi6{
	margin-top:170px; 
	margin-left:300px;
}
.footer3-zi6>li{
	float: left;
	/*color:#9ea2a3;*/
	margin-left:15px;
}
.footer3-zi6-tu1{
	width: 103px;
	height: 32px;
	background-position: -207px 0px;
	background-image: url(../sprite/sprite.footer.png);
}
.footer3-zi6-tu2{
	width: 103px;
	height: 32px;
	background-position: -207px -37px;
	background-image: url(../sprite/sprite.footer.png);
}
.footer3-zi6-tu3{
	width: 103px;
	height: 32px;
	background-position: -207px -75px;
	background-image: url(../sprite/sprite.footer.png);
}
.footer3-zi6-tu4{
	width: 103px;
	height: 32px;
	background-position: -207px -111px;
	background-image: url(../sprite/sprite.footer.png);
}
.footer3-zi6-tu5{
	width: 103px;
	height: 32px;
	background-position: -207px -148px;
	background-image: url(../sprite/sprite.footer.png);
}

/*sousuok*/
 #con{
		width: 100%;
		height: 48px;
		position: fixed;
		left: 0;
		top: 0;
		transition: 0.5s;
		border-bottom: 2px solid #f10215;
		background-color: #ffffff;
		z-index: 10;
	}
	.con1{
		height: 48px;
	}	
	.con_left>img{
		/*border: 1px solid blue;*/
		margin-left: 3px;
	}
	.con_center{
		width: 550px;
		height: 35px;
		margin-top: 5px;
		margin-left: 100px;
	}
	.con_center>.icon-ai219{
		color: #ffffff;
		font-size: 14px;
	}
	.beijing1{
		background-color: #efefef;
		width: 500px;
		height: 35px;
	}
    .button{
    	width: 60px;
    	height: 42px;
    	background-color: red;
    	margin-top:-40px; 
    	margin-right:-60px; 
    }
     .button>span{
     	margin-left:4px; 
     }
