*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 13px;
	font-family: '微软雅黑';
	/*background-color: white;*/
}
a,a:visited{
	color: #333;
	text-decoration: none;
}
a:hover{
	color: #cc0d24;
	text-decoration: none;
}
.container{
	width: 1196px;
	margin: 0 auto;
}
.lf{
	float: left;
}
.rf{
	float: right;
}
li{
	list-style-type: none;
}
input,button{
	outline: none;
}
i{
	background-image: url(../sprite/sprite.service.png);
	background-repeat:no-repeat;
	display: inline-block;
	vertical-align: middle;
}
.clearfloat:after{
	display: block;
	clear:both;
	content:'';
}
b{
	background-image: url(../sprite/sprite.footer.png);
	background-repeat:no-repeat;
	display: inline-block;
	vertical-align: middle;
}
